<pre>{{active | json}}</pre>

<div class="card bg-dark text-white mb-3">

  <!--Devices List -->
  <div *ngFor="let device of devices" class="list-group-item list-group-item-action"
    [ngClass]="'device.price > 500 ? 'red' : null">

    <!--os icon-->
    <i class="fa" [ngClass]="{
            'fa-android': device.os === 'android',
            'fa-apple'  : device.os === 'ios',
            'fa-tablet' : device.os === 'others'
         }"></i>


    <!--label-->
    <i class="fa fa-in"></i>
    <span>{{device?.label}}</span>
    <!-- metto il punto interrogativo perche ci sono numeri e lettere, credo -->

    <!--display rate-->
    <span style="margin-left: 50%;">Screen rating: {{device.rate}}</span>
    <!--...missing...-->

    <div class="pull-right">
      <!--price -->
      <strong *ngIf="device.price" [style.color]="device.price > 500 ? 'red' : null">
        € {{device.price | number: '1.2-2'}}
      </strong>
      <!-- c e l ngIf perche mi fa comparire il prezzo solo se esiste -->

      <!--trash icon-->
      <i class="fa fa-trash icon" (click)="delete($event, device)"></i>
      <!-- ho esattamente chiamato il metodo delete del controller .ts, con i relativi argomenti -->
    </div>
  </div>
</div>

<router-outlet></router-outlet>
