<pre>{{active | json}}</pre>

<div class="card bg-dark text-white mb-3">

    <!-- form -->
    <form novalidate (submit)="save(f)" #f="ngForm" class="card-body">

      <!-- con ngModel faccio un 1-way binding coi dati, in pratica il form mi si riempie con i dati dell elemento selezionato nel db -->
      <input type="text" [ngModel]="active?.label" name="label" required class="form-control bg-dark text-white"
        placeholder="Phone model *">

      <input type="number" [ngModel]="active?.price" name="price" class="form-control bg-dark text-white m-1"
        placeholder="Price *">

      <select [ngModel]="active?.os" name="os" required class="form-control bg-dark text-white m-1">
        <option value="null">Select OS *</option>
        <option value="ios">ios</option>
        <option value="android">android</option>
        <option value="others">others</option>
      </select>

      <div class="btn-group btn-group-sm m-1">
        <button class="btn btn-warning" type="submit" [disabled]="f.invalid">
          {{active?.id ? 'SAVE' : 'ADD'}}
        </button>
        <button class="btn btn-light" type="button" *ngIf="active?.id" (click)="reset()">
          ADD NEW
        </button>
      </div>
    </form>

  <!--Devices List -->
  <div *ngFor="let device of devices" class="list-group-item list-group-item-action"
    [ngClass]="{'bg-warning text-dark': device.id === active?.id}"
    (click)="setActive(device)">
    <!-- chiamo il metodo setActive e dico che se e attivo (cioe se l id di quel device e uguale all id dell oggetto active) allora lo evidenzio cambiandogli classe -->

    <!--os icon-->
    <i class="fa" [ngClass]="{
            'fa-android': device.os === 'android',
            'fa-apple'  : device.os === 'ios',
            'fa-tablet' : device.os === 'others'
         }"></i>


    <!--label-->
    <i class="fa fa-in"></i>
    <span>{{device?.label}}</span>
    <!-- metto il punto interrogativo perche ci sono numeri e lettere, credo -->

    <!--display rate-->
    <span style="margin-left: 50%;">Screen rating: {{device.rate}}</span>
    <!--...missing...-->

    <div class="pull-right">
      <!--price -->
      <strong *ngIf="device.price" [style.color]="device.price > 500 ? 'red' : null">
        € {{device.price | number: '1.2-2'}}
      </strong>
      <!-- c e l ngIf perche mi fa comparire il prezzo solo se esiste -->

      <!--trash icon-->
      <i class="fa fa-trash icon" (click)="delete($event, device)"></i>
      <!-- ho esattamente chiamato il metodo delete del controller .ts, con i relativi argomenti -->
    </div>
  </div>
</div>

<router-outlet></router-outlet>
